.main {
  /* display: flex; */
  padding-top: 56px;
  height: 100vh;
  background-color: white;
  width: calc(100% - 85px);
  margin-left: 85px;
  margin-top: 75px;
}

.main > section {
  padding: 32px;
}