.navbar{
    background-color: #2c6bcc;
    ul{
        li{
            a{
                color: #fff;
                &:hover{
                    color: #fff;
                    opacity: 0.7;
                }
                &:focus{
                    color: #fff;
                }
            }
        }
    }
    .navbar-brand img {
        max-height: 25px;
    }
}   